services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_container
    ports:
      - "5672:5672"    # AMQP protocol (Go  connects here)
      - "15672:15672"  # Management dashboard
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  redis:
    image: redis:7
    container_name: redis_container
    ports:
      - "6379:6379"  

  app:
    build: .
    container_name: go_app_container
    depends_on:
      - rabbitmq
      - redis
    ports:
      - "8080:8080"    
    command: ["./email_service"]
   




